

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.wrap{
	width: 950px;
	margin: 0px auto;
}
/*header{
	height: 100px;
	width: 950px;
	margin-bottom: 20px;
	position: relative;
}*/
.header{
	height: 100px;
	width: 950px;
	margin-bottom: 20px;
	position: relative;
}
.top{
	height: 6px;
	background: #292929;
}
.red{
	width: 45px;
	height: 6px;
	float: left;
	background: #ce0160;
}
.green{
	width: 45px;
	height: 6px;
	float: left;
	background: #a0cc05;
}
.blue{
	width: 45px;
	height: 6px;
	float: left;
	background: #0192c1;
}
.logo{
	width: 170px;
	height: 80px;
	margin: 30px 0px 0px 25px;
	background-image: url("../images/logo.png");
	
}
.logo a{
	 display: block;
	 text-indent: -9999px;
}
.logo a:hover{
	opacity: 0.6;
}
.Socialmenu{
	right: 30px;
	top: 20px;
	float: right;
	position: absolute;
}
.Socialmenu li{
	float: left;
	margin-left: 10px;
}
.Socialmenu li a{
	text-decoration: none;
}
.Socialmenu li a:hover{
	opacity: 0.5;
}
.menu{
	right: 30px;
	float: right;
	bottom: 5px;
	
}
.menu li{
	float: left;
	margin-left: 44px;
	list-style: none;
}
.menu li a{
	display:  block;
	color: #272727;
	height: 20px;
	font-weight: 700px;
	font-size: 16px;
	text-decoration: none;
}
.icon-bar{
	display: block;
    width: 22px;
    height: 3px;
    background-color: #b3b3b3;
}
.MainColor, li a:hover{
	color: #01a5ca;
	text-decoration: none;
}
.MainVisual{
	height: 415px;
}
.MainSlider{
	width: 640px;
	float: left;
}
.MainSlider a:hover img{
	opacity: 0.7;
}
.MainTitle{
	width: 310px;
	height: 415px;
	float: left;
	background: #292929;
}
.MainTitleContent{
	padding: 45px 30px;
}
.MainTitle h1{
	display: inline-block;
	color: #01a5ca;
	font-size: 45px;
	margin-bottom: 20px;
}
.MainTitle p{
	font-size: 17px;
	color: #9e9e9e;
	line-height: 25px;
	margin-bottom: 25px;
}
.MainTitle a{
	display: inline-block;
	padding: 10px 20px 10px 20px;
	font-size: 14px;
	background: #3f3f3f;
	color: #ffffff;
	text-decoration: none;
}
.Introduction{
	width: 100%;
	color: #272727;
	background: #FFFFFF;
	margin-top: 35px;
}
.Introduction p {
	padding: 25px 30px 20px 40px;
	font-size: 17px;
	line-height: 33px;
}
.ContentWrap{
	width: 100%;
}
.Content{
	overflow: hidden;
	background: #FFFFFF;
	margin-top: 35px;
	padding: 25px 30px 25px 40px;
}
.EventContent{
	line-height: 25px;
	color: #272727;
	width: 575px;
	float: left;
	margin-right: 65px;
}
.EventContent a{
	text-decoration: none;
	color: black;
}
.EventBox{
	float: left;
	padding-bottom: 25px;
}
.EventBox img{
	float: left;
	margin-right: 30px;
	border: #f4f4f4 5px solid;
}
.EventBox a:hover{
	background: #f4f4f4;
}
.EventWrap{
	overflow: hidden;
}
.ServiceContent{
	width: 225px;
	float: left;
}
.ServiceContent ul{
	padding-left: 10px;
}
.ServiceContent li{
	color: #272727;
	list-style-image: url("../images/dot_blue.gif");
	line-height: 25px;
	padding-bottom: 5px;
}
.SearchContent{
	width: 225px;
	float: left;
}
.SearchContent a{
	background: #f4f4f4;
	font-size: 16px;
	margin-top: 10px;
	display: inline-block;
	height: 20px;
	width: 90px;
	color: #01a5ca;
	text-decoration: none;
	padding: 10px 20px;
}
.SearchContent a:hover{
	background: #888888;
	color: #FFFFFF;
}
.ServiceContent a{
	font-size: 14px;
	color: #272727;
	text-decoration: none;
}
footer{
	width: 940px;
	text-align: center;
	top: 1150px;
	line-height: 20px;
	padding: 30px 0 40px 0;
}
/*.MainButton a:hover{
	opacity: 0.5;
}*/
input{
	color: #CCC;
	width: 180px;
	font-size: 13px;
	border: #f4f4f4 1px solid;
	padding: 10px 10px 10px 10px;
}
body{
	background-image: url('../images/bg_html.jpg');
	font: 14px Arial, Helvetica, sans-serif;
}
h2{
	line-height: 36px;
	padding-bottom: 15px;
	font-size: 30px;
	position: relative;
}
@media only screen and (min-width: 769px) and (max-width: 950px){
.wrap {
	width: 100%;
}
.logo{
	float: none;
	margin: 0 auto;
	margin-top: 10px;
}
.header{
	width: 100%;
}
.menu{
	width: 100%;
	padding-top: 20px;
	right: auto;
	position: relative;
}
.menu li{
	text-align: center;
	width: 16.66%;
	margin: 0px;
}
.MainVisual{
	width: 100%;
}
.MainSlider{
	width: 70%;
}
.MainSlider img{
	width: 100%;
	height: auto;
}
.MainTitle{
	width: 30%;
	height: auto;
}
.EventContent{
	width: 100%;
}
.EventBox{
	width: 100%;
}
.EventBox img{
	width: 20%;
}
.ServiceContent{
	width: 63%;
	background: #FFFFFF;
}
.ServiceContent li {
	float:none;
	padding-right: 20px;
}
.ServiceContent li a{
	display: block;
	width: 100%;
	font-size: 16px;
	padding: 5px 10px;
}
.ServiceContent a:hover{
	color: #01a5ca;
	background: #f4f4f4;
}
.SearchContent{
	width: 37%;
	background: #FFFFFF;
	margin-top: 10px;
}
h2{
	text-align: center;
}
footer{
	width: 100%;
}
}
@media only screen and (max-width: 768px){
.wrap{
	width: 100%;
}
.header{
	width: 100%;
	height: auto;
	float: none;
}
.Socialmenu{
	display: inline;
	margin-right: 10px;
}
.menu{
	width: 100%;
	top: 100px;
	float: none;
	right: 0px;
	margin-top: 10px;
	text-align: center;
}
.menu li{
	float: none;
	margin: 0px 0px 0px 0px;
}
.menu li a{
	display: block;
	height: 30px;
	width: 100%;
	font-size: 20px;
	color: #FFFFFF;
	margin: 5px 5px;
	padding-top: 5px;
	text-align: center;
	background: #01a5ca;
}
.menu li a:hover{
	color: #01a5ca;
	background: #f4f4f4;
}
.MainVisual{
	height: auto;
	margin-bottom: 10px;
}
.MainVisual img{
	width: 100%;
}
.MainSlider{
	width:100%;
	float: none;
	height: auto;
	margin-bottom: 10px;
}
.MainTitle{
	display: none;
}
.Introduction{
	width: 100%;
	height: auto;
	padding: 0px 0px 20px 0px;
	margin: 0px 0px 0px 0px;
}
.EventContent{
	float: none;
	width: 100%;
}
.ServiceContent{
	float: none;
	width: 100%;
	text-align: center;
}
.ServiceContent li{
	list-style-image: none;
}
.ServiceContent li a{
	display: block;
	padding: 5px 5px;
	border-radius: 5%;
	width: 100%;
	font-size: 20px;
	color: #f4f4f4;
	background: #01a5ca;
	text-align: center;
}
.ServiceContent a:hover{
	color: #01a5ca;
	background: #f4f4f4;
}
.SearchContent{
	width: 100%;
	float: none;
	height: auto;
	background: #ffffff;
	padding: 10px 0px;
	text-align: center;
}
footer{
	width: 100%;
}

@media only screen and (max-width: 320px) {
.wrap{
	width: 100%;
}
.logo{
	float: none;
	margin: 0 auto;
	margin-top: 10px;
}
.Socialmenu{
	margin-top: 10px;
	float: none;
	right: 0;
	top: 0;
	margin-left: 40px;
	position: relative;
}
.Socialmenu li{
	right: 0;
}
.Socialmenu ul{
	margin: 0 auto;
}
.MainVisual{
	display: none;
}
.EventBox{
	float: none;
}
.EventBox img{
	float: none;
}
.EventWrap{
	float: none;
}
.ServiceContent li a{
	display: block;
	padding: 5px 5px;
	border-radius: 5%;
	width: 100%;
	font-size: 16px;
	color: #f4f4f4;
	background: #01a5ca;
	text-align: center;
}
}